Для вашої навчальної бази даних з укомплектованістю підрозділів матеріальними засобами, ось 20 прикладів використання `SELECT`, включаючи різні варіанти `JOIN`:

### Прості Запити `SELECT`

1. Вибрати всі підрозділи:
   ```sql
   SELECT * FROM departments;
   ```

2. Вибрати назви всіх груп засобів:
   ```sql
   SELECT group_name FROM equipment_groups;
   ```

3. Вибрати всі найменування засобів:
   ```sql
   SELECT name FROM equipments;
   ```

4. Вибрати всі засоби з певної групи (наприклад, Computers):
   ```sql
   SELECT * FROM equipments WHERE group_id = (SELECT group_id FROM equipment_groups WHERE group_name = 'Computers');
   ```

5. Вибрати кількість засобів за штатом для певного підрозділу (наприклад, ID 1):
   ```sql
   SELECT * FROM equipment_availability_standard WHERE department_id = 1;
   ```

6. Вибрати всю наявність засобів за списком:
   ```sql
   SELECT * FROM equipment_availability_list;
   ```

7. Вибрати засоби з певним станом (наприклад, 'New'):
   ```sql
   SELECT * FROM equipment_availability_list WHERE condition = 'New';
   ```

8. Вибрати унікальні назви засобів з конкретної групи (наприклад, Printers):
   ```sql
   SELECT DISTINCT name FROM equipments WHERE group_id = (SELECT group_id FROM equipment_groups WHERE group_name = 'Printers');
   ```

9. Вибрати всі засоби, кількість яких за штатом більше певного числа (наприклад, 2):
   ```sql
   SELECT * FROM equipment_availability_standard WHERE quantity > 2;
   ```

10. Вибрати назви підрозділів разом з місцезнаходженням:
    ```sql
    SELECT name, location FROM departments;
    ```

### Запити `SELECT` з `JOIN`

11. Вибрати всі засоби та їх групи:
    ```sql
    SELECT e.name, g.group_name FROM equipments e JOIN equipment_groups g ON e.group_id = g.group_id;
    ```

12. Вибрати назви підрозділів та відповідні їм засоби за штатом:
    ```sql
    SELECT d.name, e.name FROM departments d JOIN equipment_availability_standard eas ON d.department_id = eas.department_id JOIN equipments e ON eas.equipment_id = e.equipment_id;
    ```

13. Вибрати назви засобів та їхню кількість за списком для певного підрозділу (наприклад, ID 1):
    ```sql
    SELECT e.name, eal.quantity FROM equipments e JOIN equipment_availability_list eal ON e.equipment_id = eal.equipment_id WHERE eal.department_id = 1;
    ```

14. Вибрати підрозділи та кількість засобів у них за штатом:
    ```sql
    SELECT d.name, SUM(eas.quantity) FROM departments d JOIN equipment_availability_standard eas ON d.department_id = eas.department_id GROUP BY d.name;
    ```

15. Вибрати засоби, які є в певному підрозділі за списком та їх стан (наприклад, підрозділ ID 2):
    ```sql
    SELECT e.name, eal.condition FROM equipments e JOIN equipment_availability_list eal ON e.equipment_id

 = eal.equipment_id WHERE eal.department_id = 2;
    ```

16. Вибрати назви засобів, які відсутні в певному підрозділі (наприклад, ID 3):
    ```sql
    SELECT e.name FROM equipments e WHERE e.equipment_id NOT IN (SELECT equipment_id FROM equipment_availability_list WHERE department_id = 3);
    ```

17. Вибрати всі засоби, які потребують заміни (стан 'Used'):
    ```sql
    SELECT d.name AS department, e.name AS equipment FROM departments d JOIN equipment_availability_list eal ON d.department_id = eal.department_id JOIN equipments e ON eal.equipment_id = e.equipment_id WHERE eal.condition = 'Used';
    ```

18. Вибрати назви підрозділів та кількість нових засобів у кожному:
    ```sql
    SELECT d.name, COUNT(eal.equipment_id) FROM departments d JOIN equipment_availability_list eal ON d.department_id = eal.department_id WHERE eal.condition = 'New' GROUP BY d.name;
    ```

19. Вибрати всі засоби, які належать до певної групи (наприклад, 'Furniture') та їхні підрозділи:
    ```sql
    SELECT e.name, d.name FROM equipments e JOIN equipment_availability_list eal ON e.equipment_id = eal.equipment_id JOIN departments d ON eal.department_id = d.department_id WHERE e.group_id = (SELECT group_id FROM equipment_groups WHERE group_name = 'Furniture');
    ```

20. Вибрати підрозділи, які мають певний тип засобу (наприклад, 'Laptop Model A'):
    ```sql
    SELECT d.name FROM departments d JOIN equipment_availability_list eal ON d.department_id = eal.department_id JOIN equipments e ON eal.equipment_id = e.equipment_id WHERE e.name = 'Laptop Model A';
    ```

Ці приклади покривають різноманітні сценарії використання `SELECT` та `JOIN` для отримання інформації з навчальної бази даних.

Ось 20 завдань для практичної роботи з вашою навчальною базою даних, які відповідають раніше наданим прикладам використання `SELECT` та `JOIN`:

### Завдання для Практичної Роботи

1. Вивести всю інформацію про підрозділи.
2. Перелічити всі групи засобів.
3. Вивести назви всіх засобів.
4. Знайти всі засоби, які належать до групи "Computers".
5. Отримати інформацію про кількість засобів кожного типу, необхідних для підрозділу з ID 1 за штатом.
6. Показати повну наявність засобів за списком.
7. Вивести список засобів зі станом "New".
8. Знайти унікальні назви засобів у групі "Printers".
9. Вивести список засобів, кількість яких за штатом перевищує 2.
10. Показати назви та місцезнаходження всіх підрозділів.

### Завдання з Використанням `JOIN`

11. Вивести назви всіх засобів разом з їх групами.
12. Показати назви підрозділів та відповідні їм засоби за штатом.
13. Отримати список засобів та їх кількість за списком для підрозділу з ID 1.
14. Визначити загальну кількість засобів у кожному підрозділі за штатом.
15. Вивести список засобів у підрозділі з ID 2 та їх стан.
16. Знайти засоби, яких немає в підрозділі з ID 3.
17. Вибрати засоби зі станом "Used" та відповідні їм підрозділи.
18. Перелічити підрозділи та кількість нових засобів у кожному.
19. Знайти всі засоби з групи "Furniture" та відповідні їм підрозділи.
20. Визначити, які підрозділи мають засіб "Laptop Model A".

Кожне з цих завдань спрямоване на практичне застосування різних аспектів SQL-запитів, від простих до складних, включаючи використання різних форм `JOIN`.

### Приклади Використання Агрегатних Функцій та Групування

1. **Обчислення загальної кількості засобів у базі даних:**
   ```sql
   SELECT COUNT(*) FROM equipments;
   ```

2. **Визначення максимальної кількості засобів у підрозділі за штатом:**
   ```sql
   SELECT MAX(quantity) FROM equipment_availability_standard;
   ```

3. **Обчислення середньої кількості засобів за списком у кожному підрозділі:**
   ```sql
   SELECT department_id, AVG(quantity) FROM equipment_availability_list GROUP BY department_id;
   ```

4. **Підрахунок загальної кількості засобів за штатом у певній групі (наприклад, Computers):**
   ```sql
   SELECT SUM(eas.quantity) FROM equipment_availability_standard eas JOIN equipments e ON eas.equipment_id = e.equipment_id WHERE e.group_id = (SELECT group_id FROM equipment_groups WHERE group_name = 'Computers');
   ```

5. **Визначення кількості унікальних засобів у кожному підрозділі:**
   ```sql
   SELECT department_id, COUNT(DISTINCT equipment_id) FROM equipment_availability_list GROUP BY department_id;
   ```

6. **Знаходження мінімальної кількості засобів за штатом у кожній групі:**
   ```sql
   SELECT g.group_name, MIN(eas.quantity) FROM equipment_availability_standard eas JOIN equipments e ON eas.equipment_id = e.equipment_id JOIN equipment_groups g ON e.group_id = g.group_id GROUP BY g.group_name;
   ```

7. **Обчислення загальної кількості засобів нового стану:**
   ```sql
   SELECT COUNT(*) FROM equipment_availability_list WHERE condition = 'New';
   ```

8. **Перелік підрозділів, які мають більше ніж 5 засобів за штатом:**
   ```sql
   SELECT department_id FROM equipment_availability_standard GROUP BY department_id HAVING COUNT(equipment_id) > 5;
   ```

9. **Визначення середньої кількості засобів за списком у кожній групі:**
   ```sql
   SELECT g.group_name, AVG(eal.quantity) FROM equipment_availability_list eal JOIN equipments e ON eal.equipment_id = e.equipment_id JOIN equipment_groups g ON e.group_id = g.group_id GROUP BY g.group_name;
   ```

10. **Підрахунок кількості підрозділів, які мають засоби у вживаному стані:**
    ```sql
    SELECT COUNT(DISTINCT department_id) FROM equipment_availability_list WHERE condition = 'Used';
    ```

### Завдання для Практичної Роботи

1. Підрахувати загальну кількість засобів у базі даних.
2. Визначити підрозділ з найбільшою кількістю засобів за штатом.
3. Обчислити середню кількість засобів за списком у кожному підрозділі.
4. Порахувати загальну кількість засобів у групі "Computers" за штатом.
5. Визначити кількість унікальних засобів у кожному підрозділі.
6. Знайти групу з мінімальною кількістю засобів за штатом.
7. Обчислити кількість засобів нового стану.
8. Перелічити підрозділи, у яких більше ніж 5 засобів за штатом.
9. Визначити середню кількість засобів у кожній групі.
10. Підрахувати кількість підрозділів з засобами у вживаному стані.

### Приклади Використання Віконних Функцій

1. **Визначення рядкового номера для кожного засобу у загальному списку:**
   ```sql
   SELECT equipment_id, name, ROW_NUMBER() OVER (ORDER BY name) FROM equipments;
   ```

2. **Обчислення накопичувальної суми кількості засобів за штатом у підрозділах:**
   ```sql
   SELECT department_id, equipment_id, quantity, SUM(quantity) OVER (ORDER BY department_id) FROM equipment_availability_standard;
   ```

3. **Використання функції LEAD для визначення наступного засобу в списку для кожного підрозділу:**
   ```sql
   SELECT department_id, equipment_id, LEAD(equipment_id, 1) OVER (ORDER BY department_id) AS next_equipment_id FROM equipment_availability_list;
   ```

4. **Визначення рангу підрозділів за кількістю засобів за списком:**
   ```sql
   SELECT department_id, COUNT(equipment_id) as total_equipments, RANK() OVER (ORDER BY COUNT(equipment_id) DESC) as rank FROM equipment_availability_list GROUP BY department_id;
   ```

5. **Обчислення середньої кількості засобів за штатом в кожному підрозділі з використанням функції AVG:**
   ```sql
   SELECT department_id, equipment_id, quantity, AVG(quantity) OVER (PARTITION BY department_id) FROM equipment_availability_standard;
   ```

### Завдання для Практичної Роботи

1. Присвоїти рядковий номер кожному засобу, впорядковуючи їх за назвою.
2. Обчислити накопичувальну суму кількості засобів за штатом для кожного підрозділу.
3. Визначити наступний засіб в списку за штатом для кожного підрозділу.
4. Порахувати ранг підрозділів за загальною кількістю засобів за списком.
5. Визначити середню кількість засобів за штатом для кожного підрозділу.

Ці завдання допоможуть зрозуміти важливість віконних функцій у SQL для аналізу даних, забезпечуючи здатність виконувати складні обчислення на основі груп рядків, не групуючи самі рядки.